html{
	font-size: 14px;
}


table.service-list{
	
}
table.service-list > tbody > tr > td, table.service-list > thead > tr > th {
	vertical-align: middle;

}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container {
   padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
